@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  /* Font family */
  --font-cinzel: "Cinzel", "serif";
  --font-inter: "Inter", "sans-serif";
  --font-raleway: "Raleway", "sans-serif";

  /* Colors */
  --color-primary: #eeff25;
  --color-secondary: #d99904;
  --color-accent: #1f2937;
  --color-neutral: #151515;
  --color-base-100: #ffffff;
  --color-info: #9fc5e5;
  --color-success: #4deadd;
  --color-warning: #b08611;
  --color-error: #b91c1c;
  --color-darkBlue: #111827;
  --color-dark: #151515;
  --color-yellow: #eeff25;
  --color-darkGray: #1f2937;
  --color-gray: #e8e8e8;
  --color-golden: #bb8506;
  --color-dark-gray: #737373;
  --color-rating: #cd9003;
  --color-gold: #d1a054;
  --color-revenu-1: #bb34f5;
  --color-revenu-2: #fcdbff;
  --color-customers-1: #d3a256;
  --color-customers-2: #fde8c0;
  --color-products-1: #fe4880;
  --color-products-2: #fecde9;
  --color-orders-1: #6aaeff;
  --color-orders-2: #b6f7ff;
}

/* CSS */
@layer components {
  .container {
    @apply max-w-[1320px] mx-auto px-5 xl:px-0;
  }
  .menu__container li a,
  .menu__container li button {
    @apply text-xl font-bold inline-block py-3 px-5;
  }

  .black__btn {
    @apply border-0 border-b-4 border-[#1F2937] rounded-lg text-xl px-8 py-5 text-[#1F2937] uppercase hover:bg-[#1F2937] hover:text-white transition-all duration-300 cursor-pointer;
  }
  .white__btn {
    @apply border-0 border-b-4 border-white rounded-lg text-xl px-8 py-5 text-white uppercase hover:bg-white hover:text-[#1F2937] transition-all duration-300 cursor-pointer;
  }
  .golden__btn {
    @apply border-0 border-b-4 bg-[#E8E8E8] border-golden rounded-lg text-xl px-8 py-5 text-golden uppercase hover:bg-[#1F2937] hover:text-golden hover:border-[#1F2937] transition-all duration-300 cursor-pointer;
  }

  .golden__btn__active {
    @apply border-0 border-b-4 border-[#1F2937] bg-[#1F2937] rounded-lg text-xl px-8 py-5 text-golden uppercase hover:bg-[#E8E8E8] hover:text-[#1F2937] hover:border-golden transition-all duration-300 cursor-pointer;
  }

  .db__container {
    @apply max-w-7xl mx-auto;
  }
}

.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}

.carousel .thumbs-wrapper .thumb {
  cursor: pointer;
}

.carousel .thumbs-wrapper .thumb.selected {
  border-color: #d1a054;
}
