@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  /* Font family */
  --font-cinzel: "Cinzel", "serif";
  --font-inter: "Inter", "sans-serif";
  --font-raleway: "Raleway", "sans-serif";

  /* Colors */
  --color-darkBlue: "#111827";
  --color-darkGray: "#1F2937";
  --color-white: "#ffffff";
  --color-black: "#000000";
  --color-gray: "#E8E8E8";
  --color-golden: "#BB8506";
  --color-dark-gray: "#737373";
  --color-rating: "#CD9003";
  --color-gold: "#D1A054";
  --color-revenu-1: "#BB34F5";
  --color-revenu-2: "#FCDBFF";
  --color-customers-1: "#D3A256";
  --color-customers-2: "#FDE8C0";
  --color-products-1: "#FE4880";
  --color-products-2: "#FECDE9";
  --color-orders-1: "#6AAEFF";
  --color-orders-2: "#B6F7FF";
}
